<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556136723510-lcs8u618kngl0n7jjikr73p8ha61ja85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556136723510-lcs8u618kngl0n7jjikr73p8ha61ja85</string>
	<key>API_KEY</key>
	<string>AIzaSyAXponWbtnFIVAjqbXvrZCMwNfU7Pc8MHg</string>
	<key>GCM_SENDER_ID</key>
	<string>556136723510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokersgiix</string>
	<key>PROJECT_ID</key>
	<string>poker-5f080</string>
	<key>STORAGE_BUCKET</key>
	<string>poker-5f080.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556136723510:ios:4de69a9e6afe9d87505497</string>
	<key>DATABASE_URL</key>
	<string>https://poker-5f080.firebaseio.com</string>
</dict>
</plist>